@import "../sass/globals";
@import "../sass/variables";

.header {
  // margin-top: 7rem;
  height: 100vh;
  background-color: #10b401ed;
  width: 80%;
  margin: 4rem auto;
  // padding: 1rem 2rem;
  //   overflow: hidden !important;

  div {
    position: absolute;
    width: inherit;
    height: 100vh;
    // overflow: hidden;
    // display: none;
  }

  [id="bloc1"] {
    background-color: #10b401 !important;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;

    span {
      color: white;
      width: 500px;
      h1 {
        font-size: clamp(1.5rem, 3vw, 5rem);
        line-height: 1.3;
      }
      p {
        width: 500px;
        margin-bottom: 3rem;
      }

      a {
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: #05612e;
        box-shadow: 2px 3px 26px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        color: white;
      }
    }

    [id="hero-img"] {
      object-fit: cover;
      z-index: 10;
      transform: scale(0.8);
    }
  }

  [id="bloc2"] {
    background-color: #05612e !important;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 61% 100%);
  }
}

@media only screen and (max-width: 948px) {
  .header {
    width: 90%;

    div {
      height: fit-content;
    }

    [id="bloc1"] {
      flex-direction: column;
      padding: 1rem;
      gap: 3rem;

      span {
        width: inherit;

        p {
          width: inherit;
        }
      }
    }

    [id="bloc2"] {
      display: none;
    }
    // height: fit-content;
  }
}

.section1 {
  height: fit-content;
  width: 100vw;
  padding: 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  [class="container"] {
    width: 80vw;
    height: fit-content;
    margin: auto;

    [class="grid"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      div {
        &:last-child {
          color: $green;

          h2 {
            // font-size: 2.5rem;
            line-height: 1.3;
            width: 80%;
          }

          p {
            width: 70%;
            font-size: 20px;
            margin-bottom: 3rem;
          }

          a {
            @include btn;
            background-color: $yellow;
            margin-top: 3rem !important;
            padding: 12px 25px;
            text-decoration: none;
            box-shadow: 2px 3px 27px rgba(0, 0, 0, 0.28);
          }
        }

        &:first-child {
          transform: scale(0.9);
        }
      }
    }
  }
}

@media only screen and (max-width: 948px) {
  .section1 {
    [class="container"] {
      width: 90vw;

      [class="grid"] {
        grid-template-columns: 1fr;

        div {
          &:first-child {
            order: 2;

            h2 {
              font-size: 1.75rem;
              width: 100% !important;
            }

            p {
              width: 100%;
            }
          }

          &:last-child {
            order: 1;

            &::after {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.section2 {
  background-color: #05612e;
  margin-top: 10rem;
  height: fit-content;
  width: 100vw;
  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  [class="container"] {
    width: 80vw;
    height: fit-content;
    margin: 4rem auto;

    [class="grid"] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;

      div {
        padding: 12px 24px;
        transition: 0.5s;
        color: $green;
        border-radius: 17px;
        background-color: white;
        text-align: center;

        h3 {
          font-weight: normal;
          margin-bottom: 0;
        }

        p {
          font-size: 18px;
        }

        img {
          transform: scale(0.7);
        }
      }
    }
  }
}

@media only screen and (max-width: 948px) {
  .section2 {
    margin-top: 2rem;
    [class="container"] {
      width: 90vw;

      [class="grid"] {
        grid-template-columns: 1fr;
      }
    }
  }
}

.faq {
  height: fit-content;
  width: 100vw;
  background-color: white;

  [class="container"] {
    width: 80vw;
    margin: 4rem auto;

    h2 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 948px) {
  .faq {
    [class="container"] {
      width: 90vw;
    }
  }
}
