@import './variables';

.loader {
    width: 100%;
    height: 100vh;
    background-color: $lightGreen;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: inline-block;
        fill: none;
        stroke: #0EA84C;
        stroke-linecap: round;
        stroke-width: 3;
        flex: 0 0 auto;
        pointer-events: none;
        user-select: none;
        vertical-align: middle;
        // animation: rotate 1s linear infinite;

        // @keyframes rotate {
        //     0% {
        //         transform: rotate(0deg);
        //     }

        //     100% {
        //         transform: rotate(360deg);
        //     }
        // }
    }
}