@import '../sass/variables';

.nav {
    height: 10vh;
    width: 100vw;
    padding-left: 0;
    // background-color: red;
    display: flex;
    align-items: center;

    [class=container] {
        width: 80vw;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        [id=logo] {
            display: flex;
            align-items: center;
            transform: scale(.5) translateX(-50%);
        }


        [id=nav-links] {
            a {
                text-decoration: none;
                color: black;
                margin-left: 1rem;

                &:last-child {
                    background-color: $yellow;
                    padding: .5rem 1rem;
                    border-radius: $radius;
                    box-shadow: 2px 3px 27px rgba(0, 0, 0, 0.28);
                }
            }
        }


        [id=hamburger-menu] {
            display: none;

            [class=line] {
                width: 30px;
                height: 2px;
                margin: 5px;
                background-color: black;
            }

            &:hover {
                cursor: pointer;
            }
        }

    }
}


@media only screen and (max-width: 800px) {
    .nav {

        [class=container] {
            width: 90vw;


            [id=nav-links] {
                display: none;
            }

            [class=active] {
                position: absolute;
                top: 15vh;
                left: 0;
                width: 100%;
                background-color: $yellow;
                z-index: 99999999;
                height: fit-content;
                padding: 12px 24px;
                display: flex;
                flex-direction: column !important;
                border-radius: $radius;

                a {
                    line-height: 3;
                    color: white;

                    &:last-child {
                        background-color: initial;
                        padding: 0;
                        box-shadow: unset;
                    }
                }
            }

            [id=hamburger-menu] {
                display: block;
            }
        }
    }
}