@import '../../styles/sass/variables';


.page {
    height: 100vh;
    width: 100vw;
    background-color: $lightGreen;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        // background-color: red;
        text-align: center;
        margin: auto;
        width: 100%;

    }

    [class=container] {
        width: 80vw;
        height: inherit;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        [class=card] {
            width: 450px;
            height: fit-content;
            background-color: white;
            padding: 12px 25px;
            border-radius: $radius;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);

            text-align: center;

            h3 {
                text-align: center;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                margin-bottom: 0;
            }

            p {
                font-size: 15px;
                // color: gray;
            }

            a{
                text-decoration: none;
                color: $green;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .page {
        [class=container] {
            width: 90vw;

            [class=card] {
                width: 100%;
                padding: 20px;
            }
        }
    }

}