html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.8;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

h1,
h2 {
  font-family: 'Lato' !important;
}

* {
  box-sizing: border-box;
  font-family: 'Lato' !important;
}