html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.8;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../assets/fonts/GraphikRegular.otf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PolySans Bold';
  src: url('../assets/fonts/PolySans-Median.ef58da6c.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'PolySans';
  src: url('../assets/fonts/PolySans-Neutral.af255dd7.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Boing';
  src: url('../assets/fonts/FontsFree-Net-GD-Boing-Bold.ttf');
}

h1,
h2 {
  font-family: 'PolySans Bold' !important;
}

* {
  box-sizing: border-box;
  font-family: 'PolySans' !important;
}